
h1{
    text-align: center;
    font-family: 'Gabriela';
    margin-bottom: 10px;
    margin-top: 30px;
    font-size:30px ;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.75);
}
body{
    background-color:#fefcf0 ;
   
}
p{
  font-family: 'Irish Grover';
  font-size: 22px;
}
.cont{
    background-color: #ddfbf4;
    width: 1150px;
    height: 500px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 30px;
    border: solid #ddfbf4 1px;
}
.box{
  border: solid #ddfbf4 1px;
    width: 450px;
    height: 450px;
    margin-left: 375px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.box1{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 48%;
    height: 5px;
    border-radius: 5px;
    background: #868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 30px;
    margin-left: 48px ;
   
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer;
  }
.box2{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer1 {
    width: 100%;
  }
  
  .slider1 {
    -webkit-appearance: none;
    width: 48%;
    height: 5px;
    border-radius: 5px;
    background:#868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 46px ;
    display: flex;
  }
  
  .slider1:hover {
    opacity: 1;
  }
  
  .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#d9d9d9;
    cursor: pointer;
   
  }
.box3{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer2 {
    width: 100%;
  }
  
  .slider2 {
    -webkit-appearance: none;
    width: 47%;
    height: 5px;
    border-radius: 5px;
    background: #868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 58px ;
  }
  
  .slider2:hover {
    opacity: 1;
  }
  
  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer;
   
  }
.box4{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer3 {
    width: 100%;
  }
  
  .slider3 {
    -webkit-appearance: none;
    width: 47%;
    height: 5px;
    border-radius: 5px;
    background:#868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 58px ;
  }
  
  .slider3:hover {
    opacity: 1;
  }
  
  .slider3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#d9d9d9;
    cursor: pointer;
   
  }
.box5{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer4 {
    width: 100%;
  }
  
  .slider4 {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background:#868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 35px ;
  }
  
  .slider4:hover {
    opacity: 1;
  }
  
  .slider4::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#d9d9d9;
    cursor: pointer;
  }
.box6{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer5 {
    width: 100%;
  }
  
  .slider5 {
    -webkit-appearance: none;
    width: 46%;
    height: 5px;
    border-radius: 5px;
    background:#868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 67px ;
  }
  
  .slider5:hover {
    opacity: 1;
  }
  
  .slider5::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#d9d9d9;
    cursor: pointer;
   
  }
.box7{
    border: solid #ddfbf4 1px;
    width: 450px;
    height: 50px;
    display: flex;
}
.slidecontainer6 {
    width: 100%;
  }
  
  .slider6 {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background:#868686;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 28px;
    margin-left: 35px ;
  }
  
  .slider6:hover {
    opacity: 1;
  }
  
  .slider6::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#d9d9d9;
    cursor: pointer;
   
  }
  .box8{
    
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 180px;
    
}
.box9{
    border: solid #ddfbf4 1px;
    width: 200px;
    height: 50px;
    margin-top: -440px;
    margin-left: 500px;
}
.box10{
  border: solid #ddfbf4 1px;
  width: 200px;
  height: 50px;
  margin-top: 350px;
  margin-left: 550px;
}
.button{
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #a3a3a3 ;
  font-family: 'Grandstander', cursive;
}
.button:hover {
  background-color:#d9d9d9 ;
  color: white;
}
.button1{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #a3a3a3 ;
    font-family: 'Grandstander';
}
.button1:hover {
  background-color:#d9d9d9 ;
  color: white;
}
